.everything {
	text-align: center;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
.digital-clock {
	margin: auto;
	color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
